
<%= form_for @contact_file do |form| %>
  <div class='mb-3' >
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <div class='mb-3' >
    <%= form.submit 'Upload', class: 'btn btn-primary' %>
  </div>
<% end %>
<h3>Contact files</h1>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Headers</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @contact_files.each do |file| %>
      <tr>
        <td> <%= file.filename %> </td>
        <td> <%= file.headers %> <td>
        <td> <%= file.status.humanize %> </td>
        <td>
          <%= link_to 'Import', new_contact_file_import_path(file), class: 'btn btn-sm btn-primary' %> 
          <%= link_to 'Delete', contact_file_path(file), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
